HELP.md
target/**
target/
media/**
Product Catalog EFC.iml
src/main/resources/templates/
*.json

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
**/src/main/resources/application-dev.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
.idea
*.iws
*.iml
*.ipr
.idea/workspace.xml
.idea/**

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
*.log
